body {
    font-family: sans-serif;
}
.link-header {
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    justify-content: center;
    font-size: 36px;
}
header{
    background-color: blueviolet;
    height: 100px;
    padding: 40px 0px 40px 10px;
    border-radius: 5px;
}
.link-nav {
    display: flex;
    text-decoration: none;
    margin: 50px;
    background-color: yellow;
    width: 100px;
    border-radius: 5px; 
}
p {
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 5px;
}
li {
     background-color: black;
    color: white;
    width: 200px;
    border-radius: 5px;
}

